:root {
  background: #ffe;
  font-size: 16px;
  font-family: monospace;
  --DEFAULT_WIDTH: 600px;
}

body {
  margin: 0;
}

main#app {
  margin: 2em auto;
  width: var(--DEFAULT_WIDTH);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  main#app {
    margin: 0 auto;
  }
  div.canvas {
    margin: 0px;
    box-shadow: none;
  }
}

.picker-container {
  position: relative;
  display: inline-block;
}

.picker-container button {
  width: 100%;
}

.picker-container .picker-popper {
  position: absolute;
  z-index: 2;
  padding-top: 4px;
}

.picker-popper div.github-picker {
  background: black;
  border-radius: 0 !important;
  border: 1px solid #ddd !important;
  padding: 8px !important;
  background: #fffffe !important;
  box-shadow: 8px 8px #995 !important;
}

.github-picker > span > div {
  width: 30px !important;
  height: 30px !important;
  margin: 1px;
}

.canvas {
  border: 1px solid #ddd;
  cursor: none;
  box-shadow: 4px 4px #995;
  margin: 6px 4px 6px 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.button-container > * {
  width: 33.33%;
}

button {
  -webkit-appearance: none;
  background: #bba;
  padding: 0.5em 1em;
  font-family: inherit;
  font-size: inherit;
  margin: 0;

  border-block-end-color: rgb(192, 192, 192);
  border-block-end-style: outset;
  border-block-end-width: 2px;
  border-block-start-color: rgb(192, 192, 192);
  border-block-start-style: outset;
  border-block-start-width: 2px;
  border-bottom-color: rgb(192, 192, 192);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: outset;
  border-bottom-width: 2px;
  border-collapse: separate;
  border-inline-end-color: rgb(192, 192, 192);
  border-inline-end-style: outset;
  border-inline-end-width: 2px;
  border-inline-start-color: rgb(192, 192, 192);
  border-inline-start-style: outset;
  border-inline-start-width: 2px;
  border-left-color: rgb(192, 192, 192);
  border-left-style: outset;
  border-left-width: 2px;
  border-right-color: rgb(192, 192, 192);
  border-right-style: outset;
  border-right-width: 2px;
  border-top-color: rgb(192, 192, 192);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: outset;
  border-top-width: 2px;
}

@media (hover: hover) {
  button.palette:hover {
    background: #008b02;
    color: white;
  }

  button.undo:hover {
    background: #fccb00;
  }

  button.clear:hover {
    background: #b80000;
    color: white;
  }
  
  button.clear:hover .non-hover {
    display: none;
  }
  button.clear:hover .hover {
    display: inline;
  }
}

button.clear .hover {
  display: none;
}

/* touch screens */
@media (hover: none) {
  div.canvas > canvas:nth-child(1) {
    opacity: 0;
  }
  button.palette:active {
    background: #008b02;
    color: white;
  }

  button.undo:active {
    background: #fccb00;
  }

  button.clear:active {
    background: #b80000;
    color: white;
  }
  
  button.clear:active .non-hover {
    display: none;
  }
  button.clear:active .hover {
    display: inline;
  }
}

.prompt {
  margin: 1em;
  text-align: center;
}

#rotate-me {
  display: none;
  background: black;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

#rotate-me .dismissRWButton {
  margin-top: 2em;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
  #rotate-me {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* debugging */

textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 1em 0;
  -webkit-appearance: none;
  font-family: inherit;
  background: #995;
  padding: 0.5em;
  border: 1px solid #995;
  color: white;
  font-size: inherit;
}

img {
  background: white;
}